{% extends "_main.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
            <div class="alert hidden" id="result"></div>
        </div>
    </div>
    <div class="row">
        <h1 class="col-xs-12 text-center">Log In</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a id="google-login" class="btn btn-social btn-google">
                <span class="fa fa-google"></span> Log in with Google
            </a>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        var state = "{{ state }}";
    </script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="{{ url_for('static', filename='googleLogin.js') }}"></script>
{% endblock %}
