<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="google-signin-client_id"
          content="729655589304-ftob0mqhbbb3hhi2hkuco0m957n8n3v8.apps.googleusercontent.com">
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<br><br>
<a href="#" onclick="signOut();">Sign out</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/static/script.js"></script>
</body>
</html>